<div class="header bg-light">
		<h1>Start a new match!!</h1>

	<a class="navbar-brand" href="#"><img src="" width="60" height="60" alt=""></a>

	<h6>Points: <span id="score"></span></h6>
</div>

<div class="team col-sm-3"><h6></h6></div>
